.App {
  text-align: center;
}

.App-header {
  font-size: 20px;
  background: brown;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
}

html,
body {
  background-color: blanchedalmond;
}

#root {
  height: 100%;
}
